* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* HEADER  */

.language::after {
    content: "˅";
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: #376ea5;
}

.nav-fix {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #34485C;
    line-height: 5rem;
}

.nav-scroll {
    height: 5rem;
    margin-top: 5rem;
    line-height: 5rem;
}

.nav-scroll ul li {
    display: inline-block;
    padding-left: 1rem;
}

.nav-scroll ul li::after {
    content: "˅";
    padding-left: .5rem;
}

.jumbo {
    background-color: #FFF2EE;
    background-image: url(../img/jumbotron.png);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-position-y: -2rem; */
    position: relative;
}

.title {
    width: 50%;
}

.street {
    height: 6rem;
    background-color: #AFEBE4;
    width: 100%;
    border-top: 2px solid #34485C;
    border-bottom: 2px solid #34485C;
    position: absolute;
    bottom: 0;
}


/* MAIN  */


/* FOOTER  */


/* UTILITY */

.ver-align-m {
    vertical-align: middle;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.fit-content {
    width: fit-content;
}


/* serigraphy */

.txt-bold {
    font-weight: bold;
}


/* float */

[class^=col-] {
    float: left;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.float-right {
    float: right;
}


/* padding */

.pad-5 {
    padding: .5rem;
}

.pad-10 {
    padding: 1rem;
}

.pad-l-10 {
    padding-left: 1rem;
}

.pad-r-10 {
    padding-right: 1rem;
}

.pad-t-30 {
    padding-top: 3rem;
}


/* margin / border /radious */

.mar-l-10 {
    margin-left: 1rem;
}

.mar-t-20 {
    margin-top: 2rem;
}

.radious {
    border-radius: 5px;
}

.border-left-blue {
    border-left: 1px solid #34485C;
}

.border-orange {
    border: 1px solid #FE775A;
}


/* color */

.bg-gray {
    background-color: #F4F9FD;
}

.bg-orange {
    background-color: #FE775A;
}

.bg-white {
    background-color: #FFFFFF;
}

.txt-blue {
    color: #34485C;
}

.txt-white {
    color: #FFFFFF;
}

.txt-orange {
    color: #FE775A;
}

.txt-lightblue {
    color: #00A7BA;
}


/* text size */

.txt-size-5 {
    font-size: .5rem;
}

.txt-size-25 {
    font-size: 2.5rem;
}

.txt-size {
    font-size: 1rem;
}


/* components */

span {}