* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* HEADER  */

.language::after {
    content: "˅";
}

header a {
    text-decoration: none;
}

header a:hover:not(.free, .login) {
    text-decoration: underline;
    color: #376ea5;
}

.nav-fix {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #34485C;
    line-height: 5rem;
}

.nav-scroll {
    height: 5rem;
    margin-top: 5rem;
    line-height: 5rem;
}

.nav-scroll ul li {
    display: inline-block;
    padding-left: 1rem;
}

.nav-scroll ul li::after {
    content: "˅";
    padding-left: .5rem;
}

.jumbo {
    background-color: #FFF2EE;
    background-image: url(../img/jumbotron.png);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.title {
    width: 50%;
}

.street {
    height: 6rem;
    background-color: #AFEBE4;
    width: 100%;
    border-top: 2px solid #34485C;
    border-bottom: 2px solid #34485C;
    position: absolute;
    bottom: 0;
}


/* MAIN  */


/* card-section */

.cube {
    width: 35%;
}

div [class^="col-"] img {
    height: 6rem;
}

.card-section ul li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1rem;
}

.card-section ul li::before {
    content: "✓";
    padding: 0 4px;
    background-color: #FE775A;
    color: #FFFFFF;
    border-radius: 50%;
    margin-right: .5rem;
    font-size: .8em;
}

.small-card .col-33 {
    width: calc((100% / 3) - 2rem);
    min-height: 3rem;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.38);
    text-align: center;
}

.small-card .col-33 hr {
    margin: 0 auto;
}

.small-card .col-33 img {
    display: block;
    height: 6rem;
    margin: 1rem auto;
}

.bottom-space ul li {
    text-align: left;
    display: block;
    list-style-type: none;
    margin-right: 1rem;
}


/* grid-section */

.grid-section {
    padding: 4rem 0;
    min-height: 50rem;
    background-image: linear-gradient( 45deg, #00a4bd, #00bda5);
}

.grid-section h1 {
    font-size: 2.7em;
}

.grid-section p {
    font-size: 1.5em;
}

.grid-section .col-25 {
    display: inline-block;
    width: calc(100%/4);
    min-height: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.grid-section .col-25:not(:first-child) {
    border-left: 1px solid white;
}

.grid-section .row-grid:not(:last-child) {
    border-bottom: 1px solid white;
}

.grid-section .col-25>* {
    display: block;
    margin: 0 auto;
}

.grid-section .col-25 img {
    height: 2rem;
}

.grid-section .col-25 p:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.grid-section .col-25 p:nth-child(3) {
    font-size: .7rem;
    margin-top: 1rem;
}


/* FOOTER  */


/* UTILITY */

.align-center {
    margin: 0 auto;
}

.txt-align-center {
    text-align: center;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.fit-content {
    width: fit-content;
}


/* shadow */

.shadow {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.38);
}


/* column width */

.hp {
    background-color: red;
}

.col-33 {
    width: calc(100% / 3);
}

.col-66 {
    width: calc((100%/3)*2);
}


/* serigraphy */

.txt-bold {
    font-weight: bold;
}

.txt-dec-none {
    text-decoration: none;
}

.txt-dec-through {
    text-decoration: line-through;
    text-decoration-color: #34485C;
}


/* float */

[class^="col-"] {
    float: left;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.float-right {
    float: right;
}


/* padding */

.pad-5 {
    padding: .5rem;
}

.pad-y-10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pad-y-20 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pad-y-30 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.pad-x-30 {
    padding-right: 3rem;
    padding-left: 3rem;
}

.pad-x-20 {
    padding-right: 2rem;
    padding-left: 2rem;
}

.pad-10 {
    padding: 1rem;
}

.pad-l-10 {
    padding-left: 1rem;
}

.pad-r-10 {
    padding-right: 1rem;
}

.pad-r-50 {
    padding-right: 5rem;
}

.pad-t-30 {
    padding-top: 3rem;
}

.pad-b-30 {
    padding-bottom: 3rem;
}


/* margin / border /radious */

.mar-l-10 {
    margin-left: 1rem;
}

.mar-l-30 {
    margin-left: 3rem;
}

.mar-t-20 {
    margin-top: 2rem;
}

.mar-t-30 {
    margin-top: 3rem;
}

.mar-t-10 {
    margin-top: 1rem;
}


/* .mar-b-20 {
    margin-bottom: 2rem;
} */

.mar-x-30 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.radious {
    border-radius: 5px;
}

.border-left-blue {
    border-left: 1px solid #34485C;
}

.border-orange {
    border: 1px solid #FE775A;
}


/* color */

.bg-gray {
    background-color: #F4F9FD;
}

.bg-orange {
    background-color: #FE775A;
}

.bg-white {
    background-color: #FFFFFF;
}

.txt-blue {
    color: #34485C;
}

.txt-white {
    color: #FFFFFF;
}

.txt-orange {
    color: #FE775A;
}

.txt-lightblue {
    color: #00A7BA;
}


/* text size */

.txt-size-5 {
    font-size: .5rem;
}

.txt-size-25 {
    font-size: 2.5rem;
}

.txt-size {
    font-size: 1rem;
}